
@import 'src/css/mixins';



body {
  background: $primary-background;
}

header {
width: 100%;
@include flex-justify-direction(row, space-between);
}

input {
  height: 22px
}

select {
  @extend input;
  width: 155px
}

.trips {
  @include flex-align-center(column);
}

.requests {
  @include flex-align-center(row);
  justify-content: center;
}

.request-button {
  margin-top: 25px;
  margin-right: 25px;
  @include box-size(125px, 35px);
  background-color: $greenish;
}

.trips-button {
  @extend .request-button
}

.selection-box {
  @include box-size(380px, 65px);
  background-color: rgb(128, 223, 226);
  @include flex-align-center(row);
  justify-content: center;
}

.selection-box > button {
  margin: 10px;
}

.card-area {
  @include flex-align-center(row);
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 135px;
  margin-right: 135px;
}

.card {
  @include flex-align-center(column);
  background-color: teal;
  @include box-size(165px, 295px);
  border: $brown-border;
  padding: 10px;
  margin: 10px
}

.card > img {
  height: 125px;
  width: 140px;
}

.card-header {
  @include grid-equal-row-columns(1fr)
}

.calculate-cost {
  margin: 10px;
  width: 115px
}

.trip-selection {
  @include flex-align-center(column);
  justify-content: center;
  margin: 25px
}

.trip-selectors {
  @include flex-justify-direction(column, center);
  background-color: $dark-green;
  width: 425px;
  border: $brown-border;
}

.selected-location {
  @include box-size(225px, auto);
  border: $brown-border;
}

.selection {
  @include flex-align-center(row);
  justify-content: space-between;
  margin: 10px
}

.trip {
  @include flex-align-center(column);
  justify-content: center;
}

.login {
  display: flex;
  justify-content: center;
}

.login-area {
  margin-top: 125px;
  background-color: $dark-green;
  @include box-size(350px, 175px);
  @include flex-justify-direction(column, center);
  padding: 10px;
  border: $brown-border;
}

.login-username {
  @include flex-justify-direction(row, space-between);
  margin: 10px
}

.login-password {
  @extend .login-username;
  margin-bottom: 30px;
}

.login-button {
  width: 65px
}

.hidden {
  display: none
}
