/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: radial-gradient(circle, rgb(197, 134, 61) 0%, rgb(37, 69, 226) 100%);


body {
  background: $primary-background;
}

header {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.hidden {
  display: none
}

.request-button {
  margin-top: 25px;
  margin-right: 25px;
  width: 125px;
  height: 35px;
  background-color: rgb(114, 197, 65)
}


